# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#IDEA
.idea

# dependencies
/node_modules

package-lock.json

smartcontracts/deployment
smartcontracts/constants
